.intro__logo {
    width: 118px;
    height: 40px;
    background-image: url('../../../images/logo_pineapple.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 420px) {
    .intro__logo {
        background-image: url("../../../images/logo_pineapple-mobile.svg");
        width: 25px;
    }
}