.intro__input-button {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    right: 35px;
    top: 28px;
    transition: all .5s;
}

.intro__input-button:focus {
    outline: 0;
}

.intro__input-button:hover {
    transform: translateX(5px);
    opacity: 0.7;
}

@media screen and (max-width: 1024px) {
    .intro__input-button {
        right: -20px;
    }
}

@media screen and (max-width: 1024px) {
    .intro__input-button {
        right: 25px;
    }
}

@media screen and (max-width: 576px) {
    .intro__input-button {
        top: 25px;
        right: -5px;
    }
}

@media screen and (max-width: 420px) {
    .intro__input-button {
        top: 23px;
        right: 15px;
    }
}

@media screen and (max-width: 375px) {
    .intro__input-button {
        right: -20px;
    }
}