.subscribe__subtitle {
    margin: 20px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6A707B;
}

@media screen and (max-width: 420px){
    .subscribe__subtitle {
        font-size: 14px;
        line-height: 26px;
    }
}