.intro__form_error_active {
    display: block;
    color: #CC0000;
    font-size: 15px;
    line-height: 16px;
    margin-top: -20px;
    margin-left: 20px;
}

@media screen and (max-width: 576px){
    .intro__form_error_active {
        min-width: 350px;
        font-size: 13px;
        margin-left: 0;
        margin-top: -20px;
    }
}

@media screen and (max-width: 420px) {
    .intro__form_error_active {
        margin-top: -95px;
        min-width: 300px;
    }
}

@media screen and (max-width: 375px) {
    .intro__form_error_active {
        min-width: 200px;
    }
}