.intro__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6A707B;
    text-decoration: none;
    transition: opacity .5s;
}

.intro__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 576px) {
    .intro__link {
        font-size: 14px;
        line-height: 24px;
    }
}

